/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 8px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 30px;
}

div {
  display:block;
}

.row {
  width: 100%;
}

div.menu-item {    
  position: relative;
  border: 1px solid black; 
  padding: 20px;
  padding-top: 50px;
  margin: 10px;    
  height: 300px;
  overflow: hidden;
  background-color: #ffffcc;
}

span.menu-header {
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;  
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: black;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 33%;
}

span.pink {
  background-color: #ffd9cc;    
}

span.red {
  background-color: #990033;  
  color: white;
}

span.yellow {
  background-color: #ffcc00;  
}



/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
  .col-lg-4 {        
    width: 33%;
  }
 
}
/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;

  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {    
    width: 100%;
  }
}